<!-- <div class="d-flex justify-content-center">
  <div id = "progressBar" class="spinner-border text-danger" style="width: 5rem; height: 5rem;" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<footer class="meetFooter">
    <div class="container">
      <div class="footer-icons">
        <div id="contactpage">
            <div id=buttons>
              <table>
                <tr>
                  <td><button class="btn btn-lg btn-outline-primary btn-block" id="startVideoCall" data-toggle="tooltip" title="Start video call!"><i  class='fas icon'>&#xf03d;</i></button></td>
                  <td><button class="btn btn-lg btn-outline-primary btn-block" id="startAudioCall" data-toggle="tooltip" title="Start audio call!" ><i class='fas icon'>&#xf130;</i></button></td>
                  <td><button class="btn btn-lg btn-outline-primary btn-block" id="toggleVideo" data-toggle="tooltip" title="video call button!"><i  class='fas icon'>&#xf03d;</i></button></td>
                  <td><button class="btn btn-lg btn-outline-primary btn-block" id="toggleAudio"data-toggle="tooltip" title="Audio call button!"><i  class='fas icon'>&#xf130;</i></button></td>
                  <td><button class="btn btn-lg btn-outline-primary btn-block" id="toggleScreenShare" data-toggle="tooltip" title="Screen Share!"><i class='fas icon'>&#xf108;</i></button></td>
                  <td><button class="btn btn-lg btn-outline-primary btn-block" id="togglePen" data-toggle="tooltip" title="Toggle Pen!"><i class='fas icon'>&#xf304;</i></button></td>
                  <td> <button class="btn btn-lg btn-outline-primary btn-block" id="hangupButton" data-toggle="tooltip" title="Hangup!"><i  class="fa icon">&#xf04d;</i></button></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
    </div>
  </footer>

</div>

  <script src="/socket.io/socket.io.js"></script>
  <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
  <script src="js/main.js"></script>
  <script src="js/scripts.js"></script>
  <script src="js/hark.js"></script> -->
  <!-- Bootstrap core JS-->
  <!-- <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>    
</body>
</html> -->




<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>